<div class="container">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron text-center">
    <h1 class="text-center">Sign up</h1>
    <p class="text-center">Silver Fit helps Boomers get fit, live healthier, more active lives, and spend more time with loved ones.</p>

    <div class="info-form">
      <h3>First, we need your email!</h3>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>

 <!--        <div><%#= f.label :name %><br />
        <%#= f.text_field :name %></div> -->

      <!--   <div><%#= f.label :password %><br />
        <%#= f.password_field :password %></div>

        <div><%#= f.label :password_confirmation %><br />
        <%#= f.password_field :password_confirmation %></div> -->
        <br/>
        <div><%= f.submit "Sign up" %></div>
      <% end %>
    </div>
  </div>





<%#= render "devise/shared/links" %>
