    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" style="margin-bottom:0;" data-interval="false">
      <!-- Indicators -->
      <div class="carousel-inner black">
        <div class="item active" style="height:350px; margin-bottom:100px;">
          <div class="container">
            <div class="carousel-caption profile">

 
                <div class="col-xs-6" >
                    <%= image_tag("profile.png", :class=> "img-circle profile") %>

                    <h3>Doug</h3>
                    <h6>Email: doug@gmail.com</h6>
                    <h6><a href="#">Edit... </a></h6>
                </div>
                <div class="col-xs-6" >
                    <%= image_tag("silverfit-badge.png", :class=> "img-circle profile", :style => "width:75%; position:absolute;") %>
                </div>


            </div>
          </div>
        </div>

      </div>
    </div><!-- /.carousel -->




    <div class="container">

            <h3 style="text-align:center">Your Accountabuddies</h3>

        <div class="row">
            <div class="col-xs-4" >
                <%= image_tag("profile.png", :class=> "img-circle profile") %>

                <h3>Diane</h3>
                <h6>Email: diane@gmail.com</h6>
                <h6><a href="#">Edit... </a></h6>
            </div>
            <div class="col-xs-4" >
                <%= image_tag("profile.png", :class=> "img-circle profile") %>

                <h3>John</h3>
                <h6>Email: john@gmail.com</h6>
                <h6><a href="#">Edit... </a></h6>
            </div>
            <div class="col-xs-4" >
                <%= image_tag("profile.png", :class=> "img-circle profile") %>

                <h3>Robert</h3>
                <h6>Email: robert@gmail.com</h6>
                <h6><a href="#">Edit... </a></h6>
            </div>
            <hr>
            <div class="col-6 col-sm-4 col-lg-4">
                
            </div>
        </div>
    </div>


<style type="text/css">
    .profile {
        width:50%;
        float:left;
        margin-right: 10px;
    }
    .carousel-caption.profile {
        text-align:left;
        left:0;
        margin-left:73px;
    }
    .carousel-inner.black {
        background-color:black;
        opacity:0.5;
    }
</style>